h1{
  font-size: 46px!important;
}
@media screen and (max-width:999px){
  .page .maintenanceInfo{
    width:70%;
  }
}
@media screen and (max-width:700px){
  .page .maintenanceInfo{
    width:100%;
  }
}
