/* CSS Document */
#splash #greetingsCon #gContent #greetings p:first-of-type{
	color: white;
	margin-left: 10px;
	font-family:"sans-serif";
	font-size: 18px;
	font-weight: 100;
	width: 100%;
	letter-spacing: 35px;
	text-transform:uppercase;
	text-align: center;
	word-wrap: break-word;

}
#splash #summaryCon #titleCon h1{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 2% 0 0 5%;
	line-height: 200%;
	text-align: left;
	color: #3F3F3F;
	font-size: 40px;
	letter-spacing: 40px;
	word-spacing: 10px;
	font-weight: 100;
	box-sizing: border-box;
}
#inBtt{
	float:none;
	width: 100%;
	height: 55px;
	position:absolute;
	z-index: 40;
	bottom: 0px;
	border-bottom: 2px solid purple;
}
#inBtt button{
	color: white;
	width:260px;
	height: 50px;
	font-size: 14px;	
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#inBtt .vProgress::before {
    position: absolute;
	top: 0;
	left: 20px;
	width: 50px;
	height: 50px;
	content: attr(data-icon);
	animation-name: progressIndicator;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-timing-function: linear;
	box-sizing: border-box;
	font-family: vicon;
	text-align: center;
	line-height:50px;
	font-size: 30px;
	color: #0A0A0A;
}
/*Fix*/

@media screen and (max-width:1288px){
	#splash #greetingsCon #gContent #greetings p:first-of-type{
		font-size: 12px;
		letter-spacing: 27px;
	}
}
@media screen and (max-width:1044px){
	#splash #summaryCon #titleCon h1{
		line-height: 200%;
		font-size: 35px;
		letter-spacing: 35px;
		word-spacing: 10px;
	}
}

