:root{
    --singleLineHeight : 35px;
    --formBackgroundColor:#f7f5f3;
}
/* Form general style starts here */
.BlueBerry_v1_0_0{
    margin:0 auto;
    width:400px;
    background-color:var(--formBackgroundColor);
}
.BlueBerry_v1_0_0 :focus{ /*To fix chrome default outline*/
    outline: none;
  }
.BlueBerry_v1_0_0 .iwrapper{
    width:80%;
    color:#ccc;
    margin:0 auto; 
    margin-bottom:23px;
    position:relative;
}
.BlueBerry_v1_0_0 .disabled{
    border: solid 1px #646262!important;
    box-shadow: inset 0 0 5px 0px #958f8f!important;
    background-color: #616262!important;
}

.BlueBerry_v1_0_0 .iwrapper[data-state="inactive"]{
    color:#ccc;
}
.BlueBerry_v1_0_0 .iwrapper[data-state="active"]{
    color:black;
}
.BlueBerry_v1_0_0 .multipleLine{
    width:80%;
    height:auto;
    color:#ccc;
    margin:0 auto; 
    margin-bottom:23px;
    position:relative;
}  
.BlueBerry_v1_0_0 .with-placeholder::after{
    content:attr(data-placeholder);
    position:absolute;
    color:inherit;
    right:0;
    top:0;
    z-index:0;
    font-size:13px;
    line-height:inherit;
    transition:left .2s linear, right .2s linear, font-size .2s linear, top .2s linear,color .2s linear;
}
.BlueBerry_v1_0_0 .labelIcon::after{
    left:40px;
    width:CALC(100% - 40px);
}
.BlueBerry_v1_0_0 .singleLine::after{
    height:100%;
}
.BlueBerry_v1_0_0 .multipleLine::after{
    height:23px;
}
.BlueBerry_v1_0_0 .labelIcon::before{
    width:35px;
    height:100%;
    content:"";
    position:absolute;
    color:inherit;
    top:0;
    left:0;
    line-height:var(--singleLineHeight)!important;
    z-index:2;
    font-size:14px;
    border:solid 1px #ccc;
    box-sizing:border-box;
    background-color:var(--formBackgroundColor);
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    text-align: center;
    border-color: inherit;
}
.BlueBerry_v1_0_0 .multipleLine .textarea-field, .BlueBerry_v1_0_0 .singleLine .text-field{
    width:100%;
    box-sizing:border-box;
    position:relative;
    background-color:transparent; 
    z-index:1;
    border:solid 1px #ccc;        
    border-radius:3px;
    box-shadow:inset 0 0 5px 0px #ccc;
}
 .BlueBerry_v1_0_0 .singleLine{
    height:var(--singleLineHeight)!important;
 }
.BlueBerry_v1_0_0 .singleLine .text-field{
    height:100%;
    padding:0 10px;
    border-radius:3px;
}
.BlueBerry_v1_0_0 .singleLine .text-field.readonly{
    background-color:#919090;
    border: solid 1px #9d9d9d; 
    box-shadow:none;
}
.BlueBerry_v1_0_0 .select-field{
    height:100%;
}
.BlueBerry_v1_0_0 .multipleLine .textarea-field{
    max-width:100%;
    height:auto;
    padding:10px 10px;   
    resize:vertical; 
}
.BlueBerry_v1_0_0 .singleLine .icon{
    padding:0 10px 0 40px;
} 
.BlueBerry_v1_0_0 .singleLine[data-state="active"]::after, .BlueBerry_v1_0_0 .multipleLine[data-state="active"]::after{
    left:10px;
    width:CALC(100% - 10px);
}
.BlueBerry_v1_0_0 .labelIcon[data-state="active"]::after{
    left:auto;
    right:10px
} 
.BlueBerry_v1_0_0 .multipleLine[data-state="active"]::after, .BlueBerry_v1_0_0 .singleLine[data-state="active"]::after,  .BlueBerry_v1_0_0 .labelIcon[data-state="active"]::after, .BlueBerry_v1_0_0 .legend-left::before, .BlueBerry_v1_0_0 .legend-right::before{
    z-index:1;
    display:table;
    width:auto;
    height:15px;
    top:-7px;
    padding:0 5px;
    font-size:9px;
    line-height:15px;
    background-color:var(--formBackgroundColor);
    color:inherit;
    position: absolute;
}
.BlueBerry_v1_0_0 .multipleLine[data-state="inactive"]::after{
    left:10px;
    line-height:var(--singleLineHeight);
}
.BlueBerry_v1_0_0 .singleLine[data-state="inactive"]::after{
    left:10px;
    line-height:var(--singleLineHeight);
}
.BlueBerry_v1_0_0 .labelIcon[data-state="inactive"]::after{
    left:40px;
    line-height:-100%;
}

/* Label starts */
.BlueBerry_v1_0_0 .singleLine.label{
    display: inline-block;
    line-height:var(--singleLineHeight);
    height:var(--singleLineHeight);
}
/* Label ends */

/* Radio group starts */
.BlueBerry_v1_0_0 .radio-group-y, .BlueBerry_v1_0_0 .radio-group-x{
    padding:5px;
}
.BlueBerry_v1_0_0 .radio-group-y::after, .BlueBerry_v1_0_0 .radio-group-x::after{
    top: -10px;
    background-color:white;
    right: 15px;
    padding: 0 3px;
}
.BlueBerry_v1_0_0 .radio-group-y > div{
    display:block;
}
.BlueBerry_v1_0_0 .radio-group-x > div{
    display:inline-block;
}

/* Radio group ends */
.BlueBerry_v1_0_0 .with-no-placeholder::after{
    content:none;
}



/* Legend start*/
.BlueBerry_v1_0_0 .legend-left, .BlueBerry_v1_0_0 .legend-right{
    padding: 15px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    border-radius:3px;
}
.BlueBerry_v1_0_0 .legend-left::before, .BlueBerry_v1_0_0 .legend-right::before{
    content:attr(data-legendLabel);
    color: black;
    box-sizing: border-box;
}
.BlueBerry_v1_0_0 .legend-left::before{
    left:15px;
}
.BlueBerry_v1_0_0 .legend-right::before{
    right:15px;
}

.BlueBerry_v1_0_0 .xfield[data-legendlabel]{
    display: flex;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
}
.BlueBerry_v1_0_0 .with-placeholder[data-state="active"].legend-border::after{
    border:solid 1px #ccc;
    border-bottom: none;
    border-bottom-color: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: inherit;
    top:-15px;
} 
.BlueBerry_v1_0_0 .with-placeholder[data-state="active"][data-placeholder]::after{
    content:attr(data-placeholder);
}
.BlueBerry_v1_0_0 .with-placeholder[data-state="active"][data-legend-value]::after{
    content:attr(data-legend-value);
}
/* Legend end */



/* Twins input start */
.BlueBerry_v1_0_0 .twins-input{
    display: flex;
}

.BlueBerry_v1_0_0 .twins-input > div:nth-child(2){
    margin-left: 2px;
}

.BlueBerry_v1_0_0 .twins-input.lgd-right[data-state='active']::after{
    left:auto!important;
    right:15px;
}

.BlueBerry_v1_0_0 .twins-input.lgd-left[data-state='active']::after{
    right:auto!important;
    left:15px;
}

/* Twins input end*/



/* Family input start*/
.BlueBerry_v1_0_0 .family-input{
    display: flex;
    width: 80%;
    color:#ccc;
    margin: 0 auto;
    margin-bottom: 23px;
    position: relative;
}
.BlueBerry_v1_0_0 .family-input.pos-fluid{ /*When used as inner*/
    margin: 0 0 10px 0;
    width:100%;
}

.BlueBerry_v1_0_0 .family-input .twins-input{
    margin: 0;
}

.BlueBerry_v1_0_0 .family-input .xfield{
    margin-right: 5px;
}

.BlueBerry_v1_0_0 .family-input.wrap{
    flex-wrap: wrap;
}

.BlueBerry_v1_0_0 .family-input.wrap .xfield:not(.fixed){
    width:100%;
    margin: 23px 0 0 0;
}

.BlueBerry_v1_0_0 .family-input.wrap .xfield.no-margin{
    margin:0;
}

.BlueBerry_v1_0_0 .family-input .xfield:last-of-type{
    margin-right:0;
}

.BlueBerry_v1_0_0 .family-input .xfield .iwrapper{
    width:100%;
    margin-bottom: 0;
}

/* Family input ends*/

/* Labeled input starts*/
.BlueBerry_v1_0_0 .labeled-input .iwrapper label{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: var(--singleLineHeight);
}
.BlueBerry_v1_0_0 .labeled-input .iwrapper{
  margin: 0;
}
.BlueBerry_v1_0_0 .labeled-input{
    display: flex;
    width: 80%;
    color:#ccc;
    margin: 0 auto;
    margin-bottom: 23px;
    position: relative;
}
.BlueBerry_v1_0_0 .labeled-input.pos-fluid{ /*When used as full width*/
    flex-direction: column;
}
.BlueBerry_v1_0_0 .labeled-input.pos-fluid .iwrapper{ /*When used as full width*/
    width: 100%;
}
.BlueBerry_v1_0_0 .labeled-input.wrap{
    flex-wrap: wrap;
}

.BlueBerry_v1_0_0 .labeled-input.wrap .iwrapper{
    width:100%;
    margin: 0 0 0 0;
}


/* Labeled input ends */

/* Input Info starts*/
.BlueBerry_v1_0_0 .input-info{
    font-size: 12px;
    position: relative;
    height: auto;
    line-height: 12px;
    margin-top: 3px;
}
/* Input Info ends*/