/* CSS Document */
.page #content #pID #contentCon {
    height: 253px;
}
.page #content #pID #contentCon #summary h1{
	height: 115px;
	line-height: 110px;
	margin: 0 auto 23px auto;
}
.page #content #pID{
	min-height: 299px;
}
.page #content .serDetailsCon .details {
    margin-bottom:23px;
}
.page #content .serDetailsCon .details h2{
	padding: 23px 0 23px 0;
	margin-bottom:0;
}
.page #content .serDetailsCon .details .detailsSummary{
	min-height:299px;
	padding-top:23px;
}
.page #content .serDetailsCon .details .detailsSummary .platformCon .con .item .labelCon{
	height: 23px;
}

.page #content .serDetailsCon .details .detailsSummary .platformCon{
	margin: 23px 0 0 0;
}
.page #content .serDetailsCon .details .detailsSummary .platformConDetails{
	margin: 46px 0 46px 0;
}
.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon .blockHeader{
	line-height: 46px;
}
.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon p{
	padding: 23px 23px 0 23px;
}
.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon ul{
	margin: 23px 0 0 50px;
}
.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon ul li{
	height:23px;
}
.page #content .serDetailsCon .details .detailsSummary .quest p{
	line-height: 23px;
	margin-bottom: 46px;
}
.page #content .serDetailsCon .details .detailsSummary .quest button{
	height: 69px;
	line-height: 69px;
}
.page #content .serDetailsCon .details .detailsSummary #hiw{
	margin: 46px 0 46px 0;
}
.page #content .serDetailsCon .details .detailsSummary .stepsCon .step{
	height:92px;
}
.page #content .serDetailsCon .details .detailsSummary .stepsCon .step .ledgen{
	top:-23px;
	height:46px;
	padding-left:46px;
	line-height: 46px;
}
.page #content .serDetailsCon .details .detailsSummary .stepsCon .step .ledgen::before{
	height:23px;
	line-height: 23px;
}
.page #content .serDetailsCon .details .detailsSummary .stepsCon .step .content{
	padding:46px 23px 23px 23px;

}
.page #content .serDetailsCon .details .detailsSummary #ad{
	margin: 161px 0 23px 0;
}

.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #actDomain{
	height:23px;
}

.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #down button, .page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #up button{
	height:46px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #down button::before, .page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #up button::before{
	line-height: 46px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content{
	min-height: 575px;
	padding-top: 46px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .sectionLabel{
	margin: 0 0 23px 0;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .langCon .lang .langName, .page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .OSCon .os .OSName{
	height: 23px;
	top:17px;
	line-height: 23px;
}
.page #content .serDetailsCon:nth-child(3) .details .detailsSummary .quest{
	margin:115px auto auto;
}
.page #content .serDetailsCon:nth-child(3) .details .detailsSummary .quest .btCons{
	height: 69px;
	margin:23px auto;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .subNav{
	height: 46px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .subNav .Btcon .Bselected{
	height: 46px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .chnCon .channel .cNameCon{
	height: 46px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .chnCon .channel{
	margin-top: 23px;
	padding-bottom: 23px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .chnCon .channel .cDetails .link{
	height: auto;
	margin: 23px auto 0 auto;
	padding-bottom:23px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .chnCon .channel .cDetails .link .onlineStatusCon table tr td {
	height:23px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .chnCon .channel .cDetails .link .onlineStatusCon table tr{
	line-height:20px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .chnCon .channel .cNameCon .cName{
	line-height: 46px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .chnCon .channel .cDetails .link .numCon{
	line-height: 23px;
	height: 23px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .chnCon{
	padding-top: 23px;
}
.page #content #hireDev .details .detailsSummary h3{
	margin: 46px auto 23px auto;
}
.page #content #hireDev .details .detailsSummary .quest{
	margin:69px  auto 46px auto;
}
.page #content #sdtrn .details .detailsSummary span{
	height:23px;
	line-height: 23px;
}
.page #content #sdtrn .details .detailsSummary p{
	margin:46px auto 46px auto;
}
