/* CSS Document */
/* Land page */
	.page #content #pID{
		background-image: url(../../../../images/content/ourServicesMedium.jpg);
	}
	.page #content #pID #contentCon #summary h1{
		font-size: 92px;
	}
	.page #content #pID #contentCon #summary h1::before , .page #content #pID #contentCon #summary h1::after{
	    width: 50%;
	}
	.page #content #pID #contentCon #summary h1::after{
	    right: -44%;
	}
	.page #content #pID #contentCon #summary h1::before{
	    left: -44%;
	}
	.page #content #pID #contentCon #summary #serCon{
		width: 780px;
	}
	.page #content #pID #contentCon #summary #serCon .sCon::before{
		width:5px;
		height: 5px;
		margin-top: -2px;
		border-radius: 5px;
		left: -5px;
	}
	.page #content #pID #contentCon #summary #serCon .sCon:nth-child(4)::after{
		width:5px;
		height: 5px;
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -2px;
		border-radius: 5px;
		background-color: hsla(0,0%,100%,1.00);
		right: -5px;
	}

	.page #content #pID #contentCon #summary #serCon .sCon{
		height: 23px;
		line-height: 23px;
	}
/**************************************************/

/* Services */
.page #content .serDetailsCon .details .detailsSummary .platformCon .con .item .GIDCon {
    height: 92px;
}
.page #content .serDetailsCon .details .detailsSummary .platformCon .con .item .GIDCon .GID::before {
    font-size: 40px;
		line-height: 86px;
		height:100%;
}
.page #content .serDetailsCon .details .detailsSummary .platformCon .con .item .GIDCon .GID {
    height: 92px;
}

.page #content .serDetailsCon .details .detailsSummary .platformCon .con #line {
    height: 45px;
}
.page #content .serDetailsCon .details .detailsSummary .platformCon .con {
    margin: 0 auto 69px auto;
}
.page #content #sdtrn .details .detailsSummary .platformCon .con {
    margin: 0 auto 43px auto;
}
.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon{
	flex-basis: 45%;
}
.page #content .serDetailsCon .details .detailsSummary .platformConDetails{
	perspective: 1000px;
}
.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon:nth-child(1){
	transform: rotateY(10deg);
	flex-basis: 27%;
}
.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon:nth-child(2){
	height: 562px;
	margin-top:5px;
	flex-basis: 35%;
}
.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon:nth-child(3){
	transform: rotateY(-10deg);
	flex-basis: 27%;
}
/***************************************************************************************************************/
.page #content #pID #contentCon #summary #serCon .sCon:nth-child(5)::before{
	left: 75px;
}
.page #content #pID #contentCon #summary #serCon .sCon:nth-child(6)::after{
	right: 55px;
}
.page #content #pID #contentCon #summary #serCon .sCon:nth-child(1){
	flex-basis: 30%;
}
.page #content #pID #contentCon #summary #serCon .sCon:nth-child(2){
	flex-basis: 28%;
}
.page #content #pID #contentCon #summary #serCon .sCon:nth-child(3){
	flex-basis: 14%;
}
.page #content #pID #contentCon #summary #serCon .sCon:nth-child(4){
	flex-basis: 14%;
}
.page #content #pID #contentCon #summary #serCon .sCon:nth-child(5){
	flex-basis: 20%;
	text-align: right;
	padding-right: 40px;
}
.page #content #pID #contentCon #summary #serCon .sCon:nth-child(6){
	flex-basis: 7%;
	padding-left: 40px;
	text-align: left;
}

.page #content .serDetailsCon .details .detailsSummary {
	 width: 92%;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #domainList ul li{
	font-size: 11px;
}

/*Realtime solutions*/
.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .langCon .lang,.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .OSCon .os{
	flex-basis: 115px;
	height: 115px;
	margin-top: 46px;
	margin-left: 23px;
}

.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon{
	height:483px;
	top:69px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #down{
	height:46px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #up{
	height:69px;
	padding-top: 23px;
	box-sizing: border-box;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #domainList{
	height:299px;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #domainList ul{
	padding:46px 0 46px 0;
}
.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #domainList ul li{
	height:46px;
	line-height: 46px;
}
/***************************************************************************************************************/

/*Responsive fix*/
	/* Land page */
	@media screen and (max-width:880px){
			.page #content #pID #contentCon #summary #serCon{
				width: 730px;
			}
			.page #content #pID #contentCon #summary h1::before , .page #content #pID #contentCon #summary h1::after{
			    width: 40%;
			}
			.page #content #pID #contentCon #summary h1::after{
			    right: -34%;
			}
			.page #content #pID #contentCon #summary h1::before{
			    left: -34%;
			}
	}
	@media screen and (max-width:790px){
			.page #content #pID #contentCon #summary #serCon{
				width: 700px;
			}
			.page #content #pID #contentCon #summary h1::before , .page #content #pID #contentCon #summary h1::after{
			    width: 30%;
			}
			.page #content #pID #contentCon #summary h1::after{
			    right: -24%;
			}
			.page #content #pID #contentCon #summary h1::before{
			    left: -24%;
			}
	}
	@media screen and (max-width:750px){
			.page #content #pID #contentCon #summary #serCon{
				width: 660px;
			}
	}
	@media screen and (max-width:699px){
		.page #content #pID #contentCon #summary #serCon{
			height: 43px;
		}
		.page #content #pID #contentCon #summary #serCon{
			width: 530px;
		}

		.page #content #pID #contentCon #summary #serCon .sCon{
			height: 43px;
			padding-top: 23px;
		}
		.page #content #pID #contentCon #summary #serCon .sCon::before, .page #content #pID #contentCon #summary #serCon .sCon:nth-child(4)::after{
			top:69%;
		}
		.page #content #pID #contentCon #summary #serCon .sCon:nth-child(4), .page #content #pID #contentCon #summary #serCon .sCon:nth-child(3){
			line-height: 43px;
		}
		.page #content #pID #contentCon #summary h1::before , .page #content #pID #contentCon #summary h1::after{
		    width: 20%;
		}
		.page #content #pID #contentCon #summary h1::after{
		    right: -14%;
		}
		.page #content #pID #contentCon #summary h1::before{
		    left: -14%;
		}
	}

	/* Our Services section */
	@media screen and (max-width:899px){
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails{
			perspective:1000px;
			flex-wrap: wrap;
		}
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon:nth-child(1){
			transform: rotateX(-10deg) rotateY(0deg);
			flex-basis: 45%;
		}
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon:nth-child(2){
			height: 575px;
			margin-top:0px;
			flex-basis: 45%;
			transform: rotateX(-10deg);
		}
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon:nth-child(3){
			transform: rotateY(0deg) rotateX(-10deg);
			margin-top: 23px;
			height:460px;
			flex-basis: 45%;
		}
	}

	@media screen and (max-width:779px){
			.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon:nth-child(1){
				flex-basis: 49%;
			}
			.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon:nth-child(2){
				flex-basis: 49%;
			}

			.page #content .serDetailsCon:nth-child(even) .Pagelink{
				left:50px;
				width:50px;

			}
			.page #content .serDetailsCon:nth-child(even) .Pagelink::before{
				border-top:50px solid #BA26C7;
				border-left:25px solid transparent;
				border-right:25px solid transparent;
			}
			.page #content .serDetailsCon:nth-child(even) .Pagelink::after{
				border-top:50px solid #3E3E3E;
				border-left:25px solid transparent;
				border-right:25px solid transparent;
			}
			.page #content .serDetailsCon:nth-child(odd){
				background-color:#5B5B5B;
			}
			.page #content .serDetailsCon:nth-child(odd) .Pagelink{
				right:50px;
				width:50px;
			}
			.page #content .serDetailsCon:nth-child(odd) .Pagelink::before{
				border-top:50px solid #BA26C7;
				border-left:25px solid transparent;
				border-right:25px solid transparent;
			}
			.page #content .serDetailsCon:nth-child(odd) .Pagelink::after{
				border-top:50px solid #5B5B5B;
				border-left:25px solid transparent;
				border-right:25px solid transparent;
			}
	}
	@media screen and (max-width:680px){
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon:nth-child(3){
			height:506px;
		}
		.page #content #sftdev .details .detailsSummary .quest p:last-of-type{
			width:30rem;
		}
	}
	@media screen and (max-width:629px){
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon:nth-child(1){
			flex-basis: 70%;
			height:477px;
			margin-top: 37px;  /*3d effect correction for vertical rhythm*/
			margin-bottom: 43px;
		}
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon:nth-child(2){
			flex-basis: 70%;
		}
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails .pCon:nth-child(3){
			flex-basis: 70%;
			height:506px;
			margin-top: -5px;  /*3d effect correction for vertical rhythm*/
		}
	}


/*Real time solutions*/
	@media screen and (max-width:900px){
		.page #content .serDetailsCon .details .detailsSummary .stepsCon .step{
			flex-basis: 32%;
		}
	}
	@media screen and (max-width:729px){
		.page #content .serDetailsCon .details .detailsSummary .stepsCon .step{
			flex-basis: 33%;
		}
	}
	@media screen and (max-width:899px){
		.page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .langCon .lang, .page #content .serDetailsCon .details .detailsSummary .domainCon #domContent .content .OSCon .os {
		    margin-left: 0px;
		}
		.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #domainList ul .Dselected{
			z-index: 1;
		}
		.page #content .serDetailsCon .details .detailsSummary .domainCon{
			flex-direction: column;
		}
		.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon{
			flex-basis: 75%;
		}
		.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon{
			width:100%;
			position: relative;
			box-sizing: border-box;
		}
		.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #up{
			width:50px;
			position: absolute;
			left:0;
			padding-top: 0;
			background-color: transparent;
		}
	  .page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #domainList ul{
	    width:auto;
			left:50px;
			/* transition: left .6s linear, right .3s linear; */
	  }
	  .page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #up:nth-child(2){
	    background-image: linear-gradient(to right, #272727 30%, rgba(39, 39, 39, 0) 100%);
	  }
	  .page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #down:nth-child(4){
	    background-image: linear-gradient(to left, rgba(39, 39, 39, 1) 0%, rgba(39, 39, 39, 0) 100%);
	  }
		.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon {
	    height: 92px;
	    top: 0;
		}
		.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #down button, .page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #up button {
			z-index:1;
			top:12px;
		}
		.detailsSummary .domainCon #DomNavCon #NavCon #up button::before {
		   content: "\e906"!important;
		}
		.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #domainList ul{
			padding:0px 0 0px 0!important;
			top:23px;
			position: absolute;
			display: table;
			white-space: nowrap;
		}
		.detailsSummary .domainCon #DomNavCon #NavCon #domainList ul li {
			width:170px!important;
	    border-top-right-radius: 7px;
	    border-bottom-left-radius: 0px!important;
			flex-shrink: 0;
			margin-right:5px;
			display: inline-block;
		}
		.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #domainList ul .Dselected::after {
			bottom: 0!important;
	    right: -30px;
	    transform: rotate(90deg);
			line-height: 45px;
			padding-left: 14px;
			box-sizing: border-box;
		}
		.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #domainList ul .Dselected::before {
	    top: auto;
	    right: 0!important;
	    color: #888;
			left:-30px;
			padding-left:15px;
			box-sizing: border-box;
			bottom:0;
		}
		.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #down {
	    width:50px;
			position: absolute;
			right:0;
			padding-top: 0;
			top: 23px;
			height: 69px;
			background-color: transparent;
		}
		.page #content .serDetailsCon .details .detailsSummary .domainCon #DomNavCon #NavCon #down button::before {
		    content: "\e905" !important;
		}
	}

	@media screen and (max-width:630px){
		.page #content .serDetailsCon:nth-child(3) .details .detailsSummary .quest .btCons {
	    width: 100%;
		}
	}



/*Hire us section */
@media screen and (max-width:899px){
	.page #content #hireDev .details #HGid::before {
		font-size:150px;
		line-height: 200px;
	}
	.page #content #hireDev .details #HGid {
    width: 200px;
    height: 200px;
	}
}
@media screen and (max-width:750px){
	.page #content #hireDev .details #HGid::before {
		font-size:130px;
		line-height: 140px;
	}
	.page #content #hireDev .details #HGid {
    width: 180px;
    height: 180px;
	}
}
@media screen and (max-width:650px){
	.page #content #hireDev .details #HGid::before {
		font-size:100px;
		line-height: 125px;
	}
	.page #content #hireDev .details #HGid {
    width: 150px;
    height: 150px;
	}
}
@media screen and (max-width:641px){
	.page #content #hireDev .details .detailsSummary p {
	    width: 100%;
	}
}
@media screen and (max-width:618px){
	.page #content #hireDev .details .detailsSummary ul{
		width:100%;
	}
}

/* Training section */
@media screen and (max-width:950px){
	.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon{
	    width: 100%;
	}
	.page #content #sdtrn .details .detailsSummary p {
	  width: 30rem;
	}
}

@media screen and (max-width:880px){
	.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .trnlinkUP {
    width: 100px;
    height: 120px;
	}
	.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .trnlinkUP .linkGid {
    width: 50px;
	}
	.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .trnlinkUP .linkGid::after {
    left: -7px;
	}
	.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .trnlinkDOWN {
    width: 100px;
	}
	.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .trnlinkDOWN .linkGid {
    width: 80px;
	}
	.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .lft span {
    font-size: 30px;
	}
}
@media screen and (max-width:829px){
		.page #content #sdtrn .details .detailsSummary p {
		  width: 27rem;
		}

}
@media screen and (max-width:780px){
	.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .lft {
    flex-basis: 20%;
	}
	.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .rgt {
    flex-basis: 80%;
	}
	.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .lft span {
    font-size: 20px;
	}

}
@media screen and (max-width:650px){
		.page #content #sdtrn .details .detailsSummary p {
		  width: 24rem;
		}
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .lft span {
	    font-size: 16px;
		}
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .trnlinkUP {
	    width: 70px;
	    height: 120px;
		}
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .trnlinkUP .linkGid {
	    width: 30px;
			right: 25px;
			top: -59px;
			height:80px;
		}
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .trnlinkUP .linkGid::after {
	    left: -6px;
			bottom: -10px;
			width:140%;
		}
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .trnlinkDOWN {
	    width: 70px;
		}
		.page #content .serDetailsCon .details .detailsSummary .platformConDetails .trnCon .trnlinkDOWN .linkGid {
	    width: 50px;
			right:15px;
			height:100px;
			bottom: -53px;
		}
}
@media screen and (max-width:640px){
	.page #content .serDetailsCon .details .detailsSummary p {
	    width: 100%;
	}
}
