*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width:100%;
}
html{
    background-color: var(--main-bg);
}
#page{
    box-sizing:border-box;
    min-width: 320px;
    padding-top: 1px;
}
