
#welcomeBox {
	width:100%;
	height:100%;
	display: table;
}#welcomeBox #box{
	vertical-align: middle;
	display: table-cell;
	height: CALC(100vh - (46px + 23px));
}
#welcomeBox #point{
	margin:0 auto;
	text-align: center;
}
#welcomeBox h1{
	text-align: center;
	font-weight: 100;
	font-family: 'Karla';
}