/* CSS Document */
*{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
	width:100%;
	background-color: #1a1a1a;
}
.page {
	width:100%;
	height:auto;
	background-color: #1a1a1a;
	position: relative;
	min-width: 320px;
	max-width: 1920px;
	margin:0 auto;
}