html{
  height:100%;
  width:100%;
}
.page{
  height:100%;
  width:100%;
}
.page .maintenanceInfo{
  width:700px;
  height:auto;
  position: relative;
}
.page .maintenanceInfo img{
  width:100%;
  height:300px;
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.page .maintenanceInfo .homeButtonCon{
  width: 100%;
  height: 46px;
  position: relative;
  bottom: 0;
}
.page .maintenanceInfo .homeButtonCon a{
  width: 150px;
  height: 100%;
  left:50%;
  transform: translateX(-50%);
  cursor:pointer;
  border:solid 1px #2050a8;
  border-radius:5px;
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
  color:#2050a8;
  text-decoration: none;
  line-height: 46px;
  text-align: center;
  font-size: 13px;
  transition: all .2s linear;
}
.page .maintenanceInfo .homeButtonCon a span{
  padding-left: 10px;
  font-family: OpenSans;
  font-size:13px;
}
.page .maintenanceInfo .homeButtonCon a:hover{
  color:#2050a8;
  box-shadow: 0 0 4px 0px #2050a8;
}
.page .maintenanceInfo .homeButtonCon a:active{
  border:solid 1px white;
  color:#2050a8;
  box-shadow: 0 0 0px 0px white;
}
