.page{
    background-image:url(/imgs/pattern.svg); 
}
.page .maintenanceInfo .infoCon{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
  }
  .page .maintenanceInfo .infoCon h3,.page .maintenanceInfo .infoCon p{
    width: 100%;
    text-align: center;
  }
  .page .maintenanceInfo .infoCon a{
    width: 150px;
    height: 46px;
    left:50%;
    transform: translateX(-50%);
    cursor:pointer;
    border-radius:5px;
    box-sizing: border-box;
    position: absolute;
    background-color: black;
    color:white;
    text-decoration: none;
    line-height: 46px;
    text-align: center;
    font-size: 13px;
    transition: all .2s linear;
    z-index:5;
    top:CALC(100% + 23px);
  }
  .page .maintenanceInfo .infoCon a span{
    padding-left: 10px;
    font-family: OpenSans;
    font-size:13px;
  }
  .page .maintenanceInfo .infoCon a:hover{
    color:#ccc;
    box-shadow: 0 0 4px 0px #ba26c7;
  }
  .page .maintenanceInfo .infoCon a:active{
    border:solid 1px white;
    color:#ba26c7;
    box-shadow: 0 0 0px 0px white;
  }